* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: #16272F;
}

section {
    padding: 20px;
}

.parent {
    margin: 50px auto;
    max-width: 1200px;
    /*
    position: relative;
    */
    background-color: white;
    border: 4px solid black;
}

.red {
    border: none;
    /*
    porision: absolute;
    top: 0px;
    left: 0px;
    */
    background-color: rgb(190, 85, 85);
}

.blue {
    border: none;
    /*
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 3;
    */

    /*
    position: fixed;
    top: 0px;
    left: 0px;
    */

    /*
    position: sticky;
    top: 0px;
    */
    background-color: rgb(129, 129, 207);
}

.green {
    border: none;
    /*
    position: relative;
    z-index: 2;
    */
    background-color: rgb(119, 165, 119);
}

.orange {
    border: none;
    background-color: rgb(202, 160, 83);
}